.section-1 {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 250px;

}

.background-video {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;

  min-width: 100%;
  min-height: 100%;
}


.section-1-info {
  display: flex;
  flex-direction: column;
  float: left;

}

.section-1-info p {
  color: white;
}